#splash {
    position:relative;
    width:100%;
    height:100%;
    background:#fff url('../assets/img/encontrarte_splash.jpg') no-repeat center;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 1200px;
    max-height: 1200px;
    display: block;
    padding-top: 180%;
    position: relative;
}

#home {
  background-image: url('../assets/img/mexico.gif');
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 1200px;
  max-height: 1200px;
  display: none;
  padding-top: 180%;
  position: relative;
}

.btns-home {
  width: 100%;
  position: absolute;
  bottom: 3%;
  left: 2%;
}

.btns-home .btn-home {
  width: 100%;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 1.5em;
  background-color: transparent;
  padding: .5% 0;
}

.btns-home .btn-singup {
   background: #D7084E;
   border: none;
}

.logo{
  position: absolute;
  width: 70%;
  top: 5%;
  left: 20%;
}

#desktop {
  display: none;
}





@media only screen and (min-width: 994px){

  body {
    background-image: url("../assets/img/fondo.jpg");
    width: 100%;
    background-size: cover;
    height: 700px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Quicksand', sans-serif;
  }
  #splash , #mobile{
    display: none;
  }

  #desktop{
    display: block;
    background-color: rgba(231, 231, 231, 0.19);
  }
  .seccionImagenesEventos {
    margin-top: 5%;
  }

  .navegador .nav-wrapper{
    background-color: #47334d ;
    height: 100px;
  }

  .navegador .nav-content {
    padding: 1% 2%;
  }


  .eventos {
    margin-top: 5%;
    background-color: #357592;

  }

  .evento {
    padding-top: 5%;
    width: 60%;
    margin-left: 20%;
  }

  .ultimoEvento {
    padding-bottom: 5%;
  }

  .nav-nuevo {
    background-color: #000;
  }

  .logo-desk {
    width: 50%;
  }

  .crearEvento {
    padding: 5% 0;
  }

  .piePagina {
    width: 100%;
    background-color: #FF9D24;
    height: 100%;
  }

  .row-footer {
    padding: 7% 0;
  }

  .logo-footer {
    margin-left:50%;
    margin-top: 5%;
    width: 100%;
  }

  a.btn-small , a.enlace{
    color: #000;
    margin-left: 5%;
    margin-top: 4%;
    font-size: 1.1em;
  }

  li .fa {
    background-color: #A2AFBE;
  }

  .img-registro {
    width: 100%;
    margin-left: 25%;
    margin-top: 10%;
  }
}
