#splash {
    position:relative;
    width:100%;
    height:100%;
    background:#fff url('') no-repeat center;
    background-size: cover;
    background-position: left;
    width: 100%;
    max-width: 1200px;
    max-height: 1200px;
    display: block;
    padding-top: 180%;
    position: relative;
}

#home {
  background-image: url('../assets/img/mexico.gif');
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 1200px;
  max-height: 1200px;
  display: none;
  padding-top: 180%;
  position: relative;
}

.btns-home {
  width: 100%;
  position: absolute;
  bottom: 3%;
  left: 2%;
}

.btns-home .btn-home {
  width: 100%;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 1.5em;
  background-color: transparent;
  padding: .5% 0;
}

.btns-home .btn-singup {
   background: linear-gradient(135deg, #42a5f5 , #1565c0 );
   border: none;
}

.logo{
  position: absolute;
  width: 30%;
  top: 5%;
  left: 35%;
}



@media only screen and (min-width: 600px){
  #splash , #mobile{
    display: none;
  }

}
