<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="../css/mapa.css">
    <meta charset="UTF-8">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mapa</title>
</head>

<body>
    <main>
        <section id="menu-perfil" class="container">
            <ul id="slide-out" class="side-nav">
                <li>
                    <div class="userView center">
                        <div class="background">

                        </div>
                        <a href="#!user"><img class="circle centrar_imagen" src="../assets/user.jpg"></a>
                        <a href="#!name"><span class="black-text name">Usuario</span></a>
                        <a href="#!email"><span class="black-text email">jdandturk@gmail.com</span></a>
                    </div>
                </li>
                <li><a href="#!"><i class="material-icons">grade</i>Eventos recientes</a></li>
                <li>
                    <div class="divider"></div>
                </li>
                <li><a class="subheader"><i class="material-icons">grade</i>Lugares Favoritos</a></li>
                <li><a class="subheader"><i class="material-icons">settings</i>Ajustes</a></li>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse color_menu col s2"><i class="material-icons medium">account_circle</i></a>
        </section>
        <div class="col s6 m3">
          <img src="../assets/img/pin_rosa.png" class="logo">
        </div>
        <section id="map" class="row">

        </section>
        <section id="eventos" class="container">
           <div class="row">
               <div class="col s6 m4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../assets/">
                    </div>
                    <div class="card-content ">
                        <span class="card-title activator grey-text text-darken-4">MUCHO<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../assets/">
                    </div>
                    <div class="card-content ">
                        <span class="card-title activator grey-text text-darken-4">MUCHO<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator imagen" src="../assets/img/evvento3.png">
                    </div>
                    <div class="card-content ">
                        <span class="card-title activator grey-text text-darken-4">16:00<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">Entrada Gratuita</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Descripción del evento<i class="material-icons right">close</i></span>
                        <p>El Cuarteto Dos Siglos tiene como característica principal ejecutar melodías con el Salterio.
                          Cuenta con un extenso repertorio musical, donde la música popular mexicana toma un papel fundamental, aunque también interpreta melodías de distintos países y adaptaciones para de obras clásicas.
                          Foro Cultural Contreras
                          Camino Real de Contreras 27, colonia La Concepción</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator imagen" src="../assets/img/evento3.jpg">
                    </div>
                    <div class="card-content ">
                        <span class="card-title activator grey-text text-darken-4">Visitas<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">Entrada Gratuita</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Descripción del evento<i class="material-icons right">close</i></span>
                        <p>La actriz Nelly López, ofrece una visita guiada caracterizada como nieta de Juan Gutiérrez Altamirano, fundador del linaje de los Condes de Santiago de Calimaya, hablará acerca de la historia de la familia, la vida cotidiana y las leyendas del antiguo Palacio donde vivieron los Condes por los espacios históricos del actual Museo de la Ciudad de Méxicos.</p>
                    </div>
                </div>
            </div>
           </div>
        </section>

    </main>
    <!--Import jQuery before materialize.js-->

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script src="../js/mapa.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkqEzfguw6ncdjddCoxbpF5OIe7o5tS4M&callback=obtenerUbicacion" async defer></script>
</body>

</html>
