<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="../css/slide.css">
    <meta charset="UTF-8">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>slide</title>
</head>

<body>

  <div class="slider fullscreen">
  <ul class="slides">
    <li>
      <img src="../assets/img/1.jpg">
      <div class="caption center-align">
        <h3>Discomovil</h3>
        <h5 class="light grey-text text-lighten-3">Glorieta de los Insurgentes 19:30hrs</h5>
      </div>
    </li>
    <li>
      <img src="../assets/img/2.jpg">
      <div class="caption left-align">
        <h3>El lago de los Cisnes </h3>
        <h5 class="light grey-text text-lighten-3">Centro Cultural l 18:00hrs</h5>
      </div>
    </li>
    <li>
      <img src="../assets/img/3.jpg">
      <div class="caption right-align">
        <h3>Cultura y tradición</h3>
        <h5 class="light grey-text text-lighten-3">Centro Coyoacan 12:00hrs</h5>
      </div>
    </li>
    <li>
      <img src="../assets/img/4.jpg">
      <div class="caption center-align">
        <h3>Motorhead</h3>
        <h5 class="light grey-text text-lighten-3">Auditorio Nacional 19:30hrs</h5>
      </div>
    </li>
    <li>
      <img src="../assets/img/5.jpg">
      <div class="caption center-align">
        <h3>Dj Tiesto</h3>
        <h5 class="light grey-text text-lighten-3">Desierto de los Leones 20:00hrs</h5>
      </div>
    </li>
    <li>
      <img src="../assets/img/6.jpg">
      <div class="caption center-align">
        <h3>Colecciones Carlos Monsivais</h3>
        <h5 class="light grey-text text-lighten-3">Bellas Artes 13:00hrs</h5>
      </div>
    </li>
    <li>
      <img src="../assets/img/7.jpg">
      <div class="caption center-align">
        <h3>Alebrijes</h3>
        <h5 class="light grey-text text-lighten-3">Ciudad Universitaria 12:00hrs</h5>
      </div>
    </li>
    <li>
      <img src="../assets/img/8.jpg">
      <div class="caption center-align">
        <h3>Edvard Munch en los muros</h3>
        <h5 class="light grey-text text-lighten-3">Hamburgo 15:00hrs</h5>
      </div>
    </li>
    <li>
      <img src="../assets/img/9.jpg">
      <div class="caption center-align">
        <h3>Popotillo</h3>
        <h5 class="light grey-text text-lighten-3">Centro Cultural l 16:00hrs</h5>
      </div>
    </li>
  </ul>
</div>


<section class="container">
  <div class="btns-home row">
    <div class="col s6">
      <a class="waves-effect  btn-large btn-home" href="../views/incioSesion.html">Iniciar Sesión</a>
    </div>
    <div class="col s6">
      <a href="views/datosPhone.html" class="waves-effect  btn-large btn-home btn-singup"  href="../views/resgitroUsuario.html">Registrarse</a>
    </div>
  </div>
</section>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/slide.js"></script>
</body>

</html>
